{% extends 'bookstore/base_bookstore.html' %}

{% load humanize %}

{% block bookstore_content %}
<div class="container mx-auto px-4">
    <h1 class="text-2xl font-bold mb-4">교재 재고 현황</h1>

    <!-- 재고 수량이 있는 도서 목록 -->
    <div class="content-card">
        <div class="card-header">교재 목록</div>
        <div class="card-body overflow-x-auto">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>교재 이름</th>
                        <th>수량</th>
                        <th>판매가</th>
                        <th>상세보기</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks_in_stock %}
                    <tr>
                        <td>{{ stock.book.name }}</td>
                        <td>{{ stock.quantity }}</td>
                        <td>{{ stock.selling_price|intcomma }}원</td>
                        <td>
                            <a href="{% url 'bookstore:stock_detail' pk=stock.pk %}">상세보기</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">재고가 있는 교재가 없습니다.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- 재고 수량이 0인 교재 목록 -->
    <div class="content-card mt-8">
        <div class="card-header">재고가 없는 교재 목록</div>
        <div class="card-body overflow-x-auto">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>교재 이름</th>
                        <th>상세보기</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks_zero_quantity %}
                    <tr>
                        <td>{{ stock.book.name }}</td>
                        <td>
                            <a href="{% url 'bookstore:stock_detail' pk=stock.pk %}">상세보기</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">재고 수량이 0인 교재가 없습니다.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}