{% extends 'bookstore/base_bookstore.html' %}

{% block bookstore_content %}
    {% if new_stock %}
        <p>새로 등록된 재고: {{ new_stock }}</p>
    {% endif %}

<div class="container mx-auto px-4">
    <div class="content-card">
        <div class="card-header">도서 재고 현황</div>
        <div class="card-body overflow-x-auto">
            <table class="content-table">
                <thead>
                    <tr>
                        <th class="text-right">입고일</th>
                        <th>도서명</th>
                        <th class="text-right">수량</th>
                        <th class="text-right">정가</th>
                        <th class="text-right">단가</th>
                        <th class="text-right">판매가</th>                        
                        <th>메모</th>
                        <th class="text-right">관리</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stock_list %}
                    <tr>
                        <td class="text-right">{{ stock.received_date|date:"Y-m-d" }}</td>
                        <td>{{ stock.book.name }}</td>
                        <td class="text-right">{{ stock.quantity }}</td>
                        <td class="text-right">{{ stock.list_price }}</td>
                        <td class="text-right">{{ stock.unit_price }}</td>
                        <td class="text-right">{{ stock.selling_price }}</td>                        
                        <td>{{ stock.notes }}</td>
                        <td class="text-right">
                            <a href="{% url 'bookstore:stock_detail' stock.id %}" class="link-primary">상세보기</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}