{% extends "maintenance/base.html" %}
{% block title %}월별 관리비 현황{% endblock %}
{% block content %}

{% load humanize %}

<h3>월별 관리비 현황</h3>
<div class="summary">
    <h3>{{ year }}년 {{ month }}월</h3>
    <p>총 부과금액: {{ total_charge|intcomma }}원</p>
</div>
<table>
    <thead>
        <tr>
            <th>호실</th>
            <th>부과금액</th>
            <th>납부일자</th>
            <th>납부상태</th>
            <th>메모</th>
        </tr>
    </thead>
    <tbody>
        {% for item in maintenance_list %}
        <tr>
            <td>{{ item.room }}호</td>
            <td>{{ item.charge|intcomma }}원</td>
            <td>{{ item.date_paid|default:"-" }}</td>
            <td>{{ item.date_paid|yesno:"납부완료,미납" }}</td>
            <td>{{ item.memo|default:"-" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
